<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>webpack workflow</title>
        <img id="top-icon" alt="scroll-icon" />
        <h1>Hello from Webpack SAP app assets and dev server</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
            soluta rem veritatis vel repudiandae nisi recusandae perferendis
            accusantium asperiores.
        </p>
    </head>
    <body></body>
</html>
